<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Webiprog_Geo>
            <version>0.2.0</version>
        </Webiprog_Geo>
    </modules>
    <global>
        <blocks>
            <webiprog_geo>
                <class>Webiprog_Geo_Block</class>
            </webiprog_geo>
        </blocks>
        <helpers>
            <webiprog_geo>
                <class>Webiprog_Geo_Helper</class>
            </webiprog_geo>
        </helpers>
        <models>
            <webiprog_geo>
                <class>Webiprog_Geo_Model</class>
                <resourceModel>webiprog_geo_resource</resourceModel>
            </webiprog_geo>
            <webiprog_geo_resource>
                <class>Webiprog_Geo_Model_Resource</class>
                <entities>
                    <geozone>
                        <table>webiprog_geo</table>
                    </geozone>
                </entities>
            </webiprog_geo_resource>
        </models>
        <resources>
            <webiprog_geo_setup>
                <setup>
                    <module>Webiprog_Geo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webiprog_geo_setup>
            <webiprog_geo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webiprog_geo_write>
            <webiprog_geo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webiprog_geo_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <webiprog_geo>
                <use>standard</use>
                <args>
                    <module>Webiprog_Geo</module>
                    <frontName>geo</frontName>
                </args>
            </webiprog_geo>
        </routers>
        <layout>
            <updates>
                <webiprog_geo>
                    <file>webiprog/geo.xml</file>
                </webiprog_geo>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <webiprog_geo>
                    <file>webiprog/geo.xml</file>
                </webiprog_geo>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <webiprog_geo before="Mage_Adminhtml">Webiprog_Geo_Adminhtml</webiprog_geo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>